.v-application--wrap,
.theme--light.v-application {
  background: transparent !important;
  min-height: 0 !important;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 768px) {
  .main-sidebar,
  .main-header {
    z-index: 10 !important;
  }
}

.nav-header {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
}

label {
  font-weight: normal !important;
  margin-bottom: 0 !important;
}

.btn {
  text-transform: capitalize !important;
  font-weight: normal !important;
  box-shadow: none !important;
}
