@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-primary: #183a64;
  --color-orange: #ff7f00;
  --color-skyblue: #ade7f7;
}

@import "./app-reset.scss";
@import "./partials/fonts.scss";
@import "./partials/button.scss";

.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.table-responsive {
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}
