.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.8125rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-15 {
  font-size: 0.9375rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-17 {
  font-size: 1.0625rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-19 {
  font-size: 1.1875rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-21 {
  font-size: 1.3125rem !important;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.fs-23 {
  font-size: 1.4375rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

.fs-25 {
  font-size: 1.5625rem !important;
}

.fs-26 {
  font-size: 1.625rem !important;
}

.fs-27 {
  font-size: 1.6875rem !important;
}

.fs-28 {
  font-size: 1.75rem !important;
}

.fs-29 {
  font-size: 1.8125rem !important;
}

.fs-30 {
  font-size: 1.875rem !important;
}

.fs-31 {
  font-size: 1.9375rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}
